{% include 'web/header.html' %}
{% load static %}
<!-- slider -->
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
      aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
      aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
      aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
      aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    {% for data in carousel %}
    <div class="carousel-item active">
      <img class="carousel-img" src="{{ data.img.url }}" class="d-block w-100" alt="unsplash">
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- end slider -->
<section class="brands container-fluid">
  <div class="d-flex flex-container row">
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex flex-column align-items-center">
          <img src=" {% static 'images/Group 4.png' %} " alt="group" class="logo-brand">
          <h1>"S" our gear-production philosophy</h1>
          <h4>歯.車.理</h4>
          <h4 class="text-japanese">人気商品 ギア製作理念 人気商品 ギア製作理念 </h4>
        </div>
      </div>
    </div>
    {% for data in brands %}
    <div class="container-fluid bg-img">
      <div class="container">
        <div class="parent-img">
          <div class="col-12 px-5">
            <img class="top-1-brand image" src=" {{ data.img.url  }} " alt="brand">
          </div>
          <div class="link">
            <a class="s-air-link" href="{% url 'brandPage' %}"><i>View more</i><span class="right-arrow">></span></a>
          </div>
        </div>
      </div>
    </div>
    {%endfor %}
  </div>
</section>
<section class="brands container-fluid">
  <div class="d-flex flex-container row">
    <div class="container-fluid">
      <div class="row">
        <div class="d-flex align-items-center flex-column">
          <img src="{% static 'images/Group-5.png' %}" alt="group" class="logo-brand">
          <h1>Tech is the source of ultimate usability</h1>
          <h4>究極の使いやすさの源は 究極の使いやすさの源は 究極の使いやすさの源は </h4>
          <h4 class="text-japanese">人気商品 ギア製作理念 人気商品</h4>
        </div>
      </div>
    </div>
    <section id="demos">
      <div class="row">
        <div class="large-12 columns">
          <div class="owl-carousel owl-theme">
            {% for data in tech_carousel %}
            <div class="item tech-item">
              
              <div class="d-flex flex-column px-4 py-5">
                <img src="{{data.img.url}}" alt="function" height="180" width="180">
                <h4>{{ data.heading }}</h4>
                <p>{{ data.text }}</p>
              </div>
              
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <div class="under-line"></div>
    <div class="view-more text-center">
      <a href="{% url 'tech' %}">View more<span class="right-arrow">></span></a>
    </div>
  </div>
</section>

<section class="card container-fluid">
  <div class="row justify-content-center">
    
    {% for data in cataloue %}
    <div class="flex-child col-lg-4 col-md-6 col-ms-12 col-xs-12">
      <img src="{{ data.image.url }}" alt="shinmen">
      <!-- <img src="./images/__00_TOP-shinmen.jpg" alt="shinmen"> -->
      <p class="sub-child"> {{data.years}} {{data.Heading}} </p>
    </div>
    {% endfor %}
    <div class="border_bottom d-flex"></div>
    <div class="page-link">
      <a href="{% url 'catalogue' %}">もっと製品を見る <span class="right-arrow">></span></a>
    </div>
  </div>
</section>
<section class="footer">
  <div class="news d-flex flex-column">
    {% for data  in news %}
    <p class="news-one">{{data.date}} {{data.heading}}</p>
    {% endfor %}
    
    <div class="view-link">
      <a class="link-page" href="{% url 'news' %}"><i>View more</i><span class="right-arrow">></span></a>
    </div>
  </div> 
  <div class="container my-5">
    <div class="row d-flex">
      <div class="d-flex flex-d justify-content-evenly">
        <div class="d-flex flex-column align-items-center">
          <a class="social-link" href="#"><img src="{% static 'images/Path 20@2x.png' %}" alt="path" class="img"></a>
          <p class="mt-2">会社の建物</p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a href="#" class="social-link"> <img src="{% static 'images/Path 21@2x.png' %}" alt="path" class="img"></a>
          <p class="mt-2">リンクイン</p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <a href="#" class="social-link"><img src="{% static 'images/Group 46@2x.png' %}" alt="group" class="img"></a>
          <p class="mt-2">郵便物</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row bottom-line">
      <div class="d-flex flex-column col-6">
        <div class="d-flex flex-child align-items-center mb-1">
          <img height="75px" src="{% static 'images/ID@2x.png' %}" alt="ID">
          <p class="about-info">夏のブランド</p>
        </div>
        <p>夏のブランド</p>
        <p>TEL. 0874-8784-3827 ブラ夏の</p>
        <p>info@shinmen.co.jp</p>
      </div>
      <div class="d-flex justify-content-end align-items-end col-6">
        <div class="social-link">
          <a href="#"><img class="social-img" src="{% static 'images/Instagram_Glyph_Gradient@2x.png' %}" alt="instagram"></a>
        </div>
        <div class="social-link">
          <a href="#"><img class="social-img" src="{% static 'images/Logo@2x.png' %}" alt="logo"></a>
        </div>  
      </div>
    </div>
  </div>
  <div class="container text-center py-3">
    <p>Copyright (C) 2022 SHINMEN co.,ltd.</p>
  </div>
</section>
{% include 'web/home-footer.html' %}