{% extends 'web/base.html' %}
{% load static %}
{% block content %}
                <div class="tab_content">
                  <div class="tab_pane">
                    <section class="container-fluid head tech-head">
                        <div class="row">
                            <div class="col-12">
                                <div class="top container">
                                    <p>Top > xxxxxxxxxxxxx</p>
                                </div>
                                <div class="brand-img text-center my-5">
                                    <img src="./images/Group-5.png" alt="brand">
                                </div>
                                <div class="heading container text-end">
                                    <h1>Tech is the source of <br>ultimate usability</h1>
                                    <p class="text-prg">「使える」にとどまらない、より高いパフォーマンスを引出せ</p>
                                    <p class="text-prg">飽くなき追求の一端がここに</p>
                                </div>
                            </div>
                        </div>
                    </section>
   {% endblock content %}                
                    